<div class="container">
    <footer class="row  py-5 my-5 border-top align-items-center">
      <div class="col-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-body-secondary">&copy; 2024</p>
      </div>
  
  
      <div class="col-9">
        
        <ul class="nav flex-row justify-content-end">
          <li class="nav-item "><a href="#" class="nav-link  text-body-secondary">Home</a></li>
          <li class="nav-item mb-2 "><a href="#" class="nav-link text-body-secondary">Features</a></li>
          <li class="nav-item mb-2 "><a href="#" class="nav-link text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2 "><a href="#" class="nav-link text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2 "><a href="#" class="nav-link text-body-secondary">About</a></li>
        </ul>
      </div>
  
    
    </footer>
  </div>