<div class="row my-2">
  <ngb-pagination
  [collectionSize]="juguetes.length"
  [pageSize]="20"
  [(page)]="currentPage"
  [maxSize]="5"
  [rotate]="true"
              [ellipses]="false"
              (pageChange)="loadJuguetes()"
  >
    

  </ngb-pagination>
  
   @for (juguete of juguetes; track juguete._id){
    <div class="col-md-4 my-2">
      <div class="card" [routerLink]="'/finalspace-detail/'+juguete._id">
        <div class="row">
          <div class="col-md-6">
            <div class="card-header bg-primary-subtle">
              <div class="card-title"><h3>{{ juguete.nombre }}</h3></div>
              <div class="card-subtitle">
                <p class="text-secondary">{{ juguete.categoria }}</p>
              </div>
            </div>
            <div class="card-content">
             
            </div>
          </div>
          <div class="col-md-6">
            <img
              src="{{juguete.imagen}}"
              alt="{{juguete.nombre}}"
              class="card-img-top"
            />
          </div>
        </div>
      </div>
    </div>
    }
  </div>